form hx-post=entity_url(entity, :property, :evaluate_job) hx-target='#target'
  select.select name='framework'
    option{ disabled selected }Choose an framework
    - Ethics::FRAMEWORKS.each do |framework|
      option= framework
  input.input name='version' type='text'
  select.select name='endpoint'
    option{ disabled selected }Choose an endpoint
    - Scout.etc.AI.glob_names("*").each do |endpoint|
      option= endpoint
  input.input name='_format' type='hidden' value="job"
  input.input name='_layout' type='hidden' value="false"
  button.btn.btn-primary.btn-sm#save-inline type="submit" Run

#target.mt-8
