- corpus = entity
- docs = corpus.documents

ul.divide-y.divide-slate-200.bg-white.rounded-md.border.border-slate-200
  - if docs.empty?
    li.p-4.text-slate-500 No documents yet
  - else
    - docs.each do |doc|
      - id = "editor-#{doc.to_s.gsub(/[^\w\-]/,'_')}"
      - doc_entity = corpus.document(doc)
      li.flex.items-start.justify-between.px-3.py-2 _="on click set the innerHTML of .viewer to ''"
        .flex.items-start.gap-3.w-full
          .min-w-0.flex-1
            .flex.items-center.gap-3
              a.link.link-primary[
              href=entity_url(doc_entity, :action, :preview) 
              hx-boost="true"
              hx-swap="innerHTML"
              hx-target="##{id}"
              ]= doc
        .flex.items-center.gap-2.flex-shrink-0
          a.btn.btn-xs[
            href=entity_url(doc_entity, :action, :inline_edit)
            hx-boost="true"
            hx-swap="innerHTML"
            hx-target="##{id}"
          ] Edit
          a.btn.btn-xs.btn-outline.btn-error[
            href=entity_url(corpus, :property, :delete, args: [doc])
            hx-boost="true"
            hx-confirm="Delete this document?"
            hx-swap='none'
          ] Delete

      .viewer.prose id=id
