- framework = entity
- add_checks user_file(:preferences).find
- add_checks framework.corpora_dir

h2.text-2xl.font-semibold.flex.items-center.gap-3.mb-8
  = framework

/sass:
  .editor-preview-full
    height: 100%
  .viewer
    max-width: 100%
    > *
       padding: 16px
       width: 100%
    .table
      width: auto
      position: static

- unless defined?(version) && framework.versions.include?(version)
  - version = preference(framework, framework.versions.first)
  - version = framework.versions.first unless framework.versions.include?(version)

== entity_fragment framework, :action, :corpora, 'prepare_job, delete, delete_version, new_version, clone_version, prepare_version_done, preference', version: version

== entity_fragment framework, :action, :use_cases, '', version: version
