- framework = entity

h2.text-2xl.font-semibold.flex.items-center.gap-3.mb-8
  = framework

sass:
  .editor-preview-full
    height: 100%
  .viewer
    max-width: 100%
    > *
       padding: 16px
       width: 100%
    .table
      width: auto
      position: static

- version = framework.versions.first unless defined?(version) && framework.versions.include?(version)

== entity_fragment framework, :action, :corpora, 'prepare_job, delete_version, new_version, clone_version, prepare_version_done', version: version
