- doc = entity

form hx-post=entity_url(entity, :property, :save) hx-swap='none'
  .flex.justify-end.gap-2
    button.btn.btn-ghost.btn-sm type="button" _="on click set the innerHTML of the closest .viewer to ''" Cancel
    button.btn.btn-primary.btn-sm#save-inline type="submit" Save
  textarea.inline-editor.textarea.textarea-bordered.w-full name='content' rows="10" data-markdown-editor="true" = doc.content
  .flex.justify-end.gap-2
    button.btn.btn-ghost.btn-sm type="button" _="on click set the innerHTML of the closest .viewer to ''" Cancel
    button.btn.btn-primary.btn-sm#save-inline type="submit" Save
